<div class="testimonial">
    <div class="testimonial__img-wrap">
        <img class="testimonial__img lazyload" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ image | img_url: '280x280' }}" 
            alt="" width="140px" height="140px"
        >
    </div>
    <div class="testimonial__stars">
        {% render 'ico-star' %}
        {% render 'ico-star' %}
        {% render 'ico-star' %}
        {% render 'ico-star' %}
        {% render 'ico-star' %}
    </div>
    <div class="testimonial__title">{{ title }}</div>
    <p class="testimonial__text">{{ textdata }}</p>
    <div class="testimonial__name">{{ name }}</div>
    <a href="{{ product.url }}" class="testimonial__product">
        <img class="testimonial__product-img lazyload" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ product.images[0] | img_url: '184x140' }}" 
            alt="" width="92px" height="70px"
        >
        <div class="testimonial__product-name">{{ product.title }}</div>
        <span class="testimonial__product-arr">
            {% render 'ico-arr-r' %}
        </span>
    </a>
</div>
